.skills-container {
  max-width: 550px;
  padding: 20px;
  margin-top: 47px;
  border-radius: 10px;
  background: rgba(0, 0, 0, .5) !important;
  backdrop-filter: blur(10px);
  box-shadow: 0px 2px 10px rgba(23, 237, 169, 0.7);
  padding-bottom: 30px;
  margin-bottom: 75px;
}

.skills-title {
  color: #f5fbfd;
  margin-bottom: 5px;
  text-align: center;
}
.skills-title::first-letter{
  font-family:  'Mynerve', 'Montserrat', 'roboto', 'Poppins', sans-serif !important;
  font-size: 34px;
}
.skills-list {
  list-style: none;
  padding: 0;
}

.skill-item {
  margin-bottom: 10px;
  font-family:  'Poppins', 'roboto', 'Poppins', sans-serif !important;
}

.skill-name {
  color: #E4E2DF;
  font-size: 18px;
}

.skill-bar {
  background-color: #333;
  border-radius: 10px;
  height: 18px;
  overflow: hidden;
}

.skill-level {
  background-color: #0C7075;
  height: 100%;
  border-radius: 10px;
}

.skill-groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15px;
}


.skill-group {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center; 
}


.skill-group:hover {
  background-color: #393e46 !important;
}



@media (max-width: 992px) {
  .skills-container{
    margin-top: 5px;
  }
}

@media (max-width: 1200px) {
  .skill-group {
    width: calc(50% - 5px); /* each button will take up half the width (minus padding) */
    margin-bottom: 1%; /* add some vertical spacing between wrapped items */
    font-size: 12px !important;
  }
}

