.skills-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, .5) !important;
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  padding-bottom: 60px;
}

.skills-title {
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.skills-list {
  list-style: none;
  padding: 0;
}

.skill-item {
  margin-bottom: 10px;
}

.skill-name {
  color: #c7edf7;
  font-size: 18px;
}

.skill-bar {
  background-color: #333;
  border-radius: 10px;
  height: 18px;
  overflow: hidden;
}

.skill-level {
  background-color: #0C7075;
  height: 100%;
  border-radius: 10px;
}

.skill-groups {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.skill-group {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;

}

.skill-group:hover {
  background-color: #393e46 !important;
}
