.color-title {
  width: 100%;  
  text-align: center;
  margin: 0px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.1;
}

#colorDisplay {
  font-size: 8vw;
}
.color-header{
  padding-top: 5px;
  font-size: 3vw;
}

.selected{
  color: white;
  background-color: #0C7075;
}

.cg-button{
  border-color: #0C7075 !important;
  background-color: #0C7075 !important;
  text-transform: uppercase;
  height: 100%;
  font-weight: 540;
  font-size: inherit;
  color: white !important;
  letter-spacing: 1px;
  transition: all .3s;
  outline: none;
  padding: 10px 20px;  
}

.cg-button:hover{
  color: white;
  background-color: #393e46 !important;
}

/* Adjust the size and padding of buttons on small screens */
@media screen and (max-width: 400px) {
  .cg-button {
    font-size: 12px !important;  
    padding: 5px 10px !important; 
  }
}

.cg-container{
  max-width: 550px;
  margin: auto;
  margin-bottom: 70px; 
}
@media (min-width: 768px) { /* for medium screens and up */
  .cg-container {
    max-width:490px; 
  }
}
@media (min-width: 400px) { /* for large screens and up */
  .cg-container {
    max-width:480px; 
  }
  
}

.square{
  width: 30%; /* specify the width */
  padding-bottom: 30%; /* keep aspect ratio 1:1 */
  float: left; /* arrange squares in a row */
  margin: 1%;  /* adjust space between squares */
  border-radius: 100%; /* make them circles */
  transition: background .5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  box-sizing: border-box; /* this includes the margin and padding in the element's total width and height */
}

#message{
  color:white;
  width: 100%;
  background-color: #05161A;
}

/* Make the buttons wrap on small screens */
#stripe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Add some space between the buttons when they wrap */
.cg-button {
  margin-bottom: 10px;
}

/* Set a minimum and maximum font size for the color display */
@media screen and (min-width: 1200px) {
  #colorDisplay {
    font-size: 50px;
  }
  .color-header{
    font-size: 25px;
  }
}

@media screen and (max-width: 400px) {
  #colorDisplay {
    font-size: 16px;
  }
}
