@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.about-page{
  font-family: 'Montserrat', 'roboto', 'Poppins', sans-serif;
}
.about-title{
  color: #072e33
}
.prototype-text{
  text-align: center;
  white-space: nowrap; /* should be fine but fluid this way*/
  font-size: 20px;
  color:tomato;
}
.about-me-text{
  text-align: center;
}