.container {
  overflow: visible;
  padding-bottom: 80px; 
}
.about-page {
  font-size: 18px;
}

.about-title {
  padding-top: 30px;
}

.profile-image {
  width: 70%;
  margin-top: 10px;
}

.about-me-text {
  text-align: center;
}