.backlog-page {
  font-family: 'Montserrat', 'Roboto', 'Poppins', sans-serif;
}

.backlog-title {
  color: #072e33;
}

.todo-list {
  list-style: none;
  padding-left: 0;
}


.todo-list li {
  color: #9b3125;
  justify-content: left;
}

.todo-list li::before {
  content: "";
  flex-grow: 1;
  text-indent: -0.5em;
  margin-right: 18.5rem;
}
.shiftCenter{
  display: flex;
  justify-content: center;
}
.todo-title{
  text-align: center;
}