/* common.css */
.content-container {
  padding-bottom: 90px;
}

h2{
  text-align: center;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}
:root {
	--d: 1500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: #0ee7e7;
	--c2: rgba(223, 235, 238, 0.2);
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

