/* common.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter+Tight&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


.content-container {
  padding-bottom: 90px;
}

h2{
  text-align: center;
}

@property --angle {
    syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}
:root {
	--d: 1500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 500%;
	--c1: #0ee7e7;
	--c2: rgba(223, 235, 238, 0.2);
}

/*
linear-gradient(315deg, #03a9f4, #ff0058)
*/

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

