/* common.css */
.content-container {
  padding-bottom: 90px;
}
/* common.css */
.iframe-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.iframe-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h2{
  text-align: center;
}

