/* Burger */
.burger {
  position: fixed;
  top: 8px;
  right: 7px;
  z-index: 16;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 24px;
  color: #ffffff !important;
  background: #393e46;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease;
}
.burger:hover {
  transform: scale(1.1);
  background: #393e46;
  color: #fff !important;
}

.burger:focus {
  outline: none;
}

/* Nav Burger */
.nav-page {
  display: flex;
  flex-direction: column; /* to align items vertically */
  justify-content: center; /* align items horizontally center */
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  position: fixed; /* Change to absolute */
  top: 67px; /* start below the burger button, adjust as needed */
  right: 0;
  width: 100%;
  background-color: rgba(5, 22, 26, 0.7);
  z-index: 100;
  overflow-y: auto; /* make it scrollable in case content is too long */
  border-radius: 5%;
  padding-bottom: 15px; /* add space at the bottom */
}

.nav-page.open {
  transform: translateX(0);
  background-color: #050f12;
  opacity: .93;
}

.nav-page ul {
  width: 100%; /* make the width of ul to be 100% of the nav-page */
  padding: 15px; /* Add padding */
  box-sizing: border-box; /* So that padding doesn't increase width */
  text-align: center; /* center the text */
}

.nav-page .close-nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  cursor: pointer;
}

/* Desktop Nav */
.nav-desktop {
  z-index: 15;
  position: relative;
}

.nav-desktop ul {
  display: flex;
  background-color: #072e33;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
}

nav ul {
  list-style: none;
  margin: 0;
  font-size: 16px;

  padding: 0;
  justify-content: space-around;
}

nav ul li {
  flex: 1;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
}

nav ul li:hover {
  background-color: #393e46;
}

nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  color: #FFFFFF;
  text-decoration: none;
  box-sizing: border-box;
}



@media (min-width: 768px) {

  .nav-page,
  .burger {
    display: none;
    /* Hide mobile nav and burger for larger screens */
  }

  .nav-desktop {
    display: flex;
    /* Show desktop nav for larger screens */
    position: relative;
    z-index: 15;
  }
}

/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
  .burger {
    display: grid;
    /* Show burger for smaller screens */
  }

  .nav-desktop {
    display: none;
    /* Hide desktop nav for smaller screens */
  }

  .nav-page ul {
    display: block;
    /* Display the links vertically on smaller screens */
  }

}