.project-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-media img,
.project-media video {
  width: 100%; /* Takes full width on small screens */
  height: auto;
  object-fit: contain;
  margin-bottom: 5px;
}

@media (min-width: 768px) { /* for medium screens and up */
  .project-media img,
  .project-media video {
    max-width: 600px; /* adjust this value as necessary */
    height: auto;
  }
}

@media (min-width: 992px) { /* for large screens and up */
  .project-media img,
  .project-media video {
    max-width: 900px; /* adjust this value as necessary */
  }
}

.project-summary{
  color:rgb(183, 231, 232);
}
.project-media{
  color:rgb(222, 216, 106);

}