/* App.css */
@import './style/common.css';
/* Main container */
.App {
  position: relative;
  /* text-align: center; */
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

body,
html {
  overflow-x: hidden;
  /* Hide horizontal scrollbar on the whole page */
  font-family: 'Montserrat', 'roboto', 'Poppins', sans-serif !important;
}

/* Individual components */
.component {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none; 
  transition: opacity 0.5s ease-in-out;
}

.component.active {
  opacity: 1;
  pointer-events: auto;
}

/* Section Transition */
.component:not(.active) {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5%); 
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1),
              transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.component.active + .component:not(.active) {
  visibility: visible;
  opacity: 0.7; 
  transform: translateY(0);
}



/*
  font-size: 40px;
  color: #29a9d1;
  align-items: center;
  text-shadow: 1px 1px 1px #233832, 
  1px 1px 6px rgb(109, 143, 142); 
  font-family: 'Poiret One', 'Mynerve', 'Montserrat', 'roboto', 'Poppins', sans-serif;
  */

.title-color{
  font-size: 50px;
  color: #29a9d1;
  align-items: center;
  text-shadow: 1px 1px 1px #23745d, 
  1px 1px 6px rgb(115, 225, 222); 
  font-family: 'Poiret One', 'Mynerve', 'Montserrat', 'roboto', 'Poppins', sans-serif;
}

.accent-1{
  color:#3ee49c !important;
  font-family: 'Mynerve', 'Montserrat', 'roboto', 'Poppins', sans-serif !important;
  font-style: italic !important;
  text-shadow: 1px 1px 1px #233832, 
  1px 1px 6px rgb(109, 143, 142); 
  font-size: 30px;
}
.accent-2{
  font-style:normal !important;
  font-size: 45px;
  font-family: 'Sacramento', 'Montserrat', 'roboto', 'Poppins', sans-serif !important;
}
.accent-3{
  color: #e4d459;
}